##based on Mesosphere Marathon's servicerouter.py haproxy config

global
  daemon
  log stdout format raw daemon debug
  maxconn 4096

defaults
  log               global
  log-format "%ci:%cp [%t] %ft %b/%s %B %bq %HM %HU %HV"
  maxconn           2000
  timeout connect   6s
  timeout client    5s
  timeout server    2s

frontend microservice_http_in
  log stdout format raw daemon debug
  bind *:8085
  mode http
  use_backend profileEditingService_20000

backend profileEditingService_20000
  balance roundrobin
  mode http
  server 151_256_250_152_35900 142.250.72.46:8078
  # additional servers here
