
global
  daemon
  log stdout format raw daemon debug
  maxconn 1
  nbthread 1

defaults
  log               global
  maxconn 1
  log-format "%ci:%cp [%t] %ft %b/%s %B %bq %HM %HU %HV"
  timeout connect   1ms
  timeout client    5s
  timeout server    2s
  timeout client-fin 1s
  timeout server-fin 1s
  timeout http-request 10s
  timeout http-keep-alive 300s

listen stats
  bind :1937
  mode http
  stats enable
  stats refresh 1s
  stats uri /stats
  no log

frontend http
  log stdout format raw daemon debug
  bind *:8085
  mode http
  use_backend profileEditingService_20000

backend profileEditingService_20000
  balance roundrobin
  mode http
  server 151_256_250_152_35900 127.0.0.1:31615
  #server 151_256_250_152_35900 127.0.0.1:8080
